---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Search from '../components/Search.astro';
import Results from '../components/Results.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="HelloWorld">
	<main class="p-4 space-y-4">
		<Header />
		<Search />
		<Results />
		<Footer />
	</main>
</Layout>